* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 243, 251);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.btn-view {
    display: flex;
    align-items: center;
    height: 35px;
}

.btn-icon {
    display: flex;
    align-items: center;
}

.btn-icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #0f0f0f;
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.btn-off {
    border: none;
    background-color: rgb(237, 243, 251);
}

.btn-icon-bg:hover {
    background-color: #f1f1f1;
}

.img-fluid {
    height: 55px;
}

.margin-show {
    margin-bottom: 5px !important;
}

.textarea-show {
    height: 150px !important;
    resize: none;
}

.disabled {
    background-color: #ebebeb !important;
}

.table-dark-bg tr th {
    background-color: #e7e7e7 !important;
    color: #0f0f0f;
    font-weight: 400 !important;
}

.table-bg {
    border-spacing: 0;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

.icon-style {
    font-size: 25px;
}

.icon-style-search {
    font-size: 20px;
}

.padding-card {
    padding: 10px 15px !important;
}

.btn-none {
    border: none;
    background-color: #fff;
}

.padding-table {
    padding: 5px 15px !important;
}

.card {
    padding: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.icon-close {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #0f0f0f;
    width: 45px;
    height: 45px;
    padding: 10px;
    font-size: 20px;
}

.icon-close:hover {
    color: #7e7e7e;
}

.form-control {
    border: 1px solid #f1f1f1 !important;
}

.form-control-bg {
    background-color: #f1f1fe;
}

.ck-blurred p {
    max-height: 230px !important;
}

.ck-focused p {
    max-height: 230px !important;
}

.textarea-bg {
    background-color: #e8e8e8 !important;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-style: none;
}

.main-container {
    width: 795px;
    margin-left: auto;
    margin-right: auto;
}

.disable {
    opacity: 0.6 !important;
}

.btn-none {
    background: none;
    border: none;
    font-size: 1rem;
    margin-bottom: 0;
    margin-right: 5px;
    white-space: nowrap;
    font-weight: 600;
    color: #0f0f0f !important;
}

.bg-error {
    margin-top: 5px;
}

.text-error {
    font-size: 14px;
}

.bg-container-login {
    height: 100vh;
}

.bg-card-login {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
}
